name: Update Discoveries Directory
on:
  schedule:
    - cron: '0 */5 * * *'
  workflow_dispatch:

jobs:
  update-discoveries:
    if: ${{ github.repository == 'max-ostapenko/discovery-artifact-manager' }}
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      APPROVAL_GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Install Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: execute
        run: |
          python scripts/update_disco.py && python scripts/open_pr.py
      - id: automerge
        name: automerge
        uses: "pascalgn/automerge-action@v0.16.4"
        env:
          MERGE_REMOVE_LABELS: "automerge"
          MERGE_METHOD: "squash"
